extends ./jade/layout.jade

block content
  - var email = "brigitte.jellinek@fh-salzburg.ac.at"
  include ./jade/header
  include ./jade/about
  include ./jade/calendar
  include ./jade/tickets
  include ./jade/speakers
  include ./jade/map
  include ./jade/keynotes  
  include ./jade/sponsors
  include ./jade/coc
  include ./jade/team
  include ./jade/footer
  include ./jade/modals
