section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Was ist neu im Web?
        h3.section-subheading.text-muted Auch diesen April treffen sich wieder Interessierte aus Wirtschaft, NGOs und der FH um das gemeinsam zu erforschen.  Erstmals
        mit einem eigenen Game-Track!
    .row
      .col-md-8.col-md-offset-2
        .fluid-width-video-wrapper
          iframe(
            width="640",
            height="360",
            src="//www.youtube-nocookie.com/embed/jjm8lmZwzT0?rel=0",
            frameborder="0",
            allowfullscreen
          )
    .row
      .col-lg-12
        h3.section-subheading &nbsp;
        include:md about.md          
