section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
    .row
      .col-lg-4
        h3 Donnerstag 8.November
        a(href='https://wud-salzburg.at/') World Usability Day
      .col-lg-4
        h3 Freitag 9.November
        ul
          li 10:00 Keynote
          li 10:30 Session Planning
          li 11:30 Talks Begin
      .col-lg-3
        h3 Samstag 10.November
        ul
          li 10:00 Breakfast
          li 10:30 Talks Begin
          li 16:00 Retrospective
          li 16:30 Doors Close
