section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
        h3.section-subheading.text-muted Der genau Zeitplan des Barcamps im April wird am ersten Tag beim 'Session Planning' erstellt
    .row
      .col-lg-3
      .col-lg-3
        h3 Freitag
        ul
          li 10:00 Keynote: The modern Textbook
          li 11:00 Session Planning
          li 12:00 
            i talks, talks, talks
          li 13:00 Lunch Break
          li 13:30 
            i talks, talks, talks 
          li 16:00 Keynote: Games
          li 17:30 Exhibition
      .col-lg-3
        h3 Samstag  
        ul
          li 10:00 Session Re-Planning
          li 10:30 
            i workshops and talks
          li 13:00 Lunch Break
          li 13d:30 
            i workshops and talks          
          li 16:30 Retrospective + Goodbye
    .row
      .col-md-8.col-md-offset-2
        .lanyrd-target-schedule
          a(
            href='http://lanyrd.com/2017/salzburgwebdev/schedule/',
            class='lanyrd-schedule',
            data-lanyrd-nolink,
            data-lanyrd-nostyles,
          )
