section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
    .row
      .col-lg-1
      .col-lg-9
        h3 Donnerstag
        a(href='https://wud-salzburg.at/') World Usability Day &rarr;
    .row
      .col-lg-1
      .col-lg-5
        h3 Freitag
        p Barcamp
        ul
          li 10:00 Eröffnung + Session Planning
          li 11:00 lightning talks:
          ul
            li Build a REST API with Swagger,
                     | &nbsp;
                     a(href='https://www.blaichinger.com/') Daniel Blaichinger
            li Bloggen mit Github
                     | &nbsp;
                     a(href='https://pages.github.io') Nikolai Janakiev @njanakiev
            li WebGL
                    | &nbsp;
                    a(href='http://janakiev.com/webgl-presentation/#/') Slides
            li Programmier-Lern-Spiele: Screeps + DriveThemCrazy
                     | &nbsp;
                     a(href='https://github.com/aides359') Pascal Blessing
                     | &nbsp; und &nbsp; Christian Müller
            li Firefox Developer Tools für Animation
                     | &nbsp;
                     a(href='https://brigitte-jellinek.at') Brigitte Jellinek
          li 12:00 Web Animation API
                     | &nbsp;
                     a(href='https://twitter.com/lisi_linhart') Daniel Blaichinger
          li 12:30 Git Clinic
            | &nbsp;
            a(href='http://www.hochstrasser.io') Christoph Hochstrasser
            a(href='http://github.com/chh') github
          li 13:00
            i Lunch Break
          li 13:30 Typescript - Pascal
          li 14:30 Tranlating legacy games to JavaScript
             | &nbsp;
             a(href='http://members.aon.at/~nkehrer/') Norbert Kehrer
          li 15:00 Unity Inverted Light
             | &nbsp;
             a(href='https://www.linkedin.com/in/marius-hartl-492817aa/') Marius Hartl
          li 15:30 WebVR mit
             | &nbsp;
             a(href='https://aframe.io/') aframe
             | &nbsp;
             a(href='https://www.linkedin.com/in/daniel-scheffknecht/') Daniel Scheffknecht
          li 16:00 Board Game Night begins
          li 17:30 Jause
          li 18:00 Board Game Night cont.
      .col-lg-5
        h3 Samstag
        p Barcamp
        ul
          li 10:00 Session Re-Planning
          li 10:10 2 tracks:
          ul
            li C++ for C# people
              | &nbsp;
              a(href='https://www.linkedin.com/in/radomir-dinic-830507a0/') Radomir Dinic
            li  Isomorphic Web Apps with vue.js
              | &nbsp;
              a(href='http://www.hochstrasser.io') Christoph Hochstrasser
          li 11:30 Unitiy Workshop and DriveThemCrazy
             | &nbsp;
             a(href='https://www.linkedin.com/in/marius-hartl-492817aa/') Marius Hartl
             | &nbsp; und Christian Müller
          li 13:00 Lunch Break
          li 13:30 Screeps Workshop
                     | &nbsp;
                     a(href='https://github.com/aides359') Pascal Blessing
          li 14:30 Retrospective
          li 15:00 Goodbye
