section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
    .row
      .col-lg-3
        h3 Donnerstag
        ul
          li 18:00 &nbsp;
            a(href='https://www.facebook.com/events/142713586392709/') Google Hash Code &rarr;
      .col-lg-6
        h3 Freitag
        ul
          li 10:00 Julbiläums Empfang
          li 12:30 Barcamp
            ul
              li 12:30 Podiumsdiskussion AbsolventInnen
              li 13:30 Session Planning
              li 14:00 Talks Begin
          li 18:00  &nbsp;
            a(href='https://lude.cat') LudeCat &rarr;
      .col-lg-3
        h3 Samstag
        ul
          li 09:00  &nbsp;
            a(href='https://conc.at') concat &rarr;
          li 20:00 Party
