section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
    .row
      .col-lg-4
        h3 Donnerstag 8.November
        a(href='https://wud-salzburg.at/') World Usability Day
      .col-lg-4
        h3 Freitag 9.November
        ul
          li 10:00 Eröffnung & Keynote
          li 11:00 Session Planning
          li 12:00 Lunch Break
          li 12:45 Keynote
          li 13:30 Talks Begin
          li 17:30 Projektaustellung & Buffet
      .col-lg-3
        h3 Samstag 10.November
        ul
          li 10:00 Breakfast
          li 10:00 Talks
          li 13:00 Lunch Break
          li 16:00 Goodbye
