section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
    .row
      .col-lg-1
      .col-lg-9
        h3 Donnerstag
        a(href='https://wud-salzburg.at/') World Usability Day &rarr;
    .row
      .col-lg-1
      .col-lg-5
        h3 Freitag
        p Barcamp
        ul
          li 10:00 Eröffnung + Session Planning
          li 11:00 lightning talks:
          ul
            li Build a REST API with Swagger,
            li Bloggen mit Github
            li WebGL
            li Programmier-Lern-Spile: Screeps + DriveThemCrazy
            li Firefox Developer Tools für Animation
          li 12:00 Web Animation API
          li 12:30 Git Clinic
          li 13:00 
            i Lunch Break
          li 13:30 Tranlating legacy games to JavaScript
          li 14:30 Typeescript
          li 15:00 WebVR
          li 15:30 Unity Inverted Light
          li 16:00 Board Game Night begins
          li 17:30 Jause
          li 18:00 Board Game Night cont.
      .col-lg-5
        h3 Samstag
        p Barcamp
        ul
          li 10:00 Session Re-Planning
          li 10:10 2 tracks:
          ul
            li C++  for C# people
            li  Isomorphic Web Apps with vue.js
          li 11:30 2 tracks:
          ul
            li Unitiy beginners Workshop and DriveThemCrazy
            li git and brainfuck
          li 13:00 Lunch Break
          li 13:30 Screeps Workshop
          li 14:30 Retrospective
          li 15:00 Goodbye
