section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading provisorischer Zeitplan
        h3.section-subheading.text-muted Der genau Zeitplan des Barcamps im wird am Freitag beim 'Session Planning' erstellt!
    .row
      .col-lg-2
      .col-lg-3
        h3 Donnerstag
        a(href='https://wud-salzburg.at/') World Usability Day &rarr;
        ul
          li 18:00 Begrüßung
          li 18:15 Talks, Talks, Talks
          li 20:00 Exhibition of Projects

      .col-lg-3
        h3 Freitag
        p Barcamp
        ul
          li 10:00 Eröffnung + Session Planning
          li 11:00
            i talks, talks, talks
          li 13:00 Lunch Break
          li 13:30
            i talks, talks, talks
          li 16:00 Board Game Night
          li 17:30 Jause
          li 18:00 Board Game Night
      .col-lg-3
        h3 Samstag
        p Barcamp
        ul
          li 10:00 Session Re-Planning
          li 10:30
            i talks, talks, talks
          li 13:00 Lunch Break
          li 13:30
            i talks, talks, talks
          li 16:30 Retrospective
          li 17:00 Goodbye
