section#calendar
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
        h3.section-subheading.text-muted Der Zeitplan des Barcamps im April wird am ersten Tag beim 'Session Planning' erstellt
    .row
      .col-md-8.col-md-offset-2
        .lanyrd-target-schedule
          a(
            href='http://lanyrd.com/2016/barcamp-salzburg-october/schedule/',
            class='lanyrd-schedule',
            data-lanyrd-nolink,
            data-lanyrd-nostyles,
          )
