section#plan
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Zeitplan
    .row
      .col-lg-1
      .col-lg-9
        h3 Donnerstag
        a(href='https://wud-salzburg.at/') World Usability Day &rarr;
    .row
      .col-lg-1
      .col-lg-5
        h3 Freitag
        p Barcamp
        ul
          li 9:45 Eröffnung
          li 10:00 Keynote 1: ...
          li 11:00 Session Planning
          li 12:00 Lightning Talks
          li 12:30 Lunch Break
          li 13:00 Lightning Talks
          li 13:30 Talks, Talks, Talks,
          li 15:00 Keynote 2: Master Programs
          li 16:00 Talks, Talks, Talks
          ul
            li 
            li 
            li 
            li 
            //li WebGL
                    | &nbsp;
                    a(href='http://janakiev.com/webgl-presentation/#/') Slides
          li 17:30 Projektaustellung & Buffet


      .col-lg-5
        h3 Samstag
        p Barcamp
        ul
          li 10:00 Breakfast + Session Replanning
          li 10:00 Talks
          li 13:00 Lunch Breaks
          li 16:00 Goodbye
