footer
  .container
    .row
      .col-md-12
        span.copyright
          | Das Barcamp wird von&nbsp;
          a(href='https://multimediatechnology.at/') MultiMediaTechnology 
          | und&nbsp;
          a(href='https://meetup.com/salzburgwebdev/') Salzburg Web Dev Meetup&nbsp;
          | veranstaltet
      .col-md-12
        span.copyright
          | Wir heißen jede*n willkommen
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://meetup.com/salzburgwebdev/')
              i.fa.fa-calendar-o
          li
            a(href='https://twitter.com/salzburgwebdev')
              i.fa.fa-twitter
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Impressum
          | &nbsp;
          a.text-muted(href="/images/sponsoring.pdf") Sponsoring
