header
  .container
    .intro-text
      h1.intro-heading 
        img.logo(
          src="/images/logos/barcamp.png",
          alt="Barcamp Salzburg – The Next Web",
          width="600",
          height="150"
        )
        br
        | 21.-22. April, 2017
      .intro-lead-in Web meets Game
