header
  .container
    .intro-text
      h1.intro-heading 9.-10.November 2018
      .intro-lead-in Web, Game, UX und VR
      br
      br
      h1.intro-heading 5.-6. April 2019
      .intro-lead-in Web, Game, UX und VR

