header
  .container
    .intro-text
      h1.intro-heading 2.März, 2018
      .intro-lead-in 10-Jahre MultiMediaTechnology Barcamp
      br
      br
      h1.intro-heading 9.-10. November, 2018
      .intro-lead-in Web, Game, VR and Usability

