doctype
html.no-js
  block head
    include ./includes/head
  body
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <script src="https://my.hellobar.com/574e1e0974594409f749cf149edb2493f3030ae7.js" type="text/javascript" charset="utf-8" async="async"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js" async="async"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css">
    block navigation
      include ./includes/navigation
    block content
    block scripts
      include ./includes/scripts
