section#speakers
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Halte einen Vortrag
        h3.section-subheading.text-muted Der Inhalt wird von den Teilnehmer*innen bestimmt. Das Barcamp lebt von deiner Beteiligung.
    .row
      .col-md-8.col-md-offset-2
        include:markdown speakers.md
    .row
      .col-md-8.col-md-offset-2.text-center
        a.btn.btn-primary(type='button', href='http://barcamp-sbg.herokuapp.com/')
          | Deinen Vortrag eintragen
    .row#videla
      .col-lg-12.text-center
        img(
        src='images/logos/rabbitmq.jpg',
        alt='Alvaro Videla'
        )
        br
        br
        .section-subheading.text-muted Alvaro Videla co-authored the book RabbitMQ in Action for Manning Publishing. 
    
